@using MediaPortal.Models

@model FileSystemModels

@if (Model.Type.Equals("Folder"))
{
    <div class="col-md-12 fileSystem-list-item-folder context-menu-folder" data-name="@Model.Id" data-folder-name="@Model.Name">
        <div class="col-md-1">
           
                <span id="iconFolder"></span>
           
        </div>
        <div class="col-md-8 file-name-list-item">
            @Model.Name
            @*@Html.ActionLink("linkText","UserFiles","Home", routeValues: new { folderID = Model.Id, folderName = Model.Name },htmlAttributes: null)*@
        </div>
        @if (Model.Tags == null || Model.Tags.Count == 0)
        {
            <div class="col-md-3" id="fileTagListItem"> Теги отсутствуют</div>
        }
        else
        {
            <div class="col-md-3" id="fileTagListItem">
                @foreach (TagModels tag in Model.Tags)
                {
                    <span>#@tag.Name</span>
                }
            </div>
        }
        
    </div>
   
}
else
{
    <div class="col-md-12 fileSystem-list-item context-menu-file" data-name="@Model.Id" data-file-name="@Model.Name" >
        <div class="col-md-1">
                <span id="iconFile"></span>
        </div>
        <div class="col-md-8 file-name-list-item">
            @Model.Name
            @Html.ActionLink("download", "DownloadFileSystemZIP", "Home", routeValues: new { fileSystemsId = Model.Id }, htmlAttributes: null)
        </div>
        @if (Model.Tags == null || Model.Tags.Count == 0)
        {
            <div class="col-md-3" id="fileTagListItem"> Теги отсутствуют</div>
        }
        else
        {
            <div class="col-md-3" id="fileTagListItem">
                @foreach(TagModels tag in Model.Tags){
                    <span>#@tag.Name</span>
                }
            </div>
        }
    </div>
}