@{
    ViewBag.Title = "LogoLayout";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body id="GlobalBackground">

    
<div class="firstHeaderBlock">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
                    
                    @using (Html.BeginForm("SearchFiles", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-group input-group-sm" id="customSearch">
                            <span class="input-group-addon" id="sizing-addon"><span class="IconSearch"></span></span>
                            <input type="text" name="searchValue" class="form-control" placeholder="Поиск файлов" aria-describedby="sizing-addon" id="customSearchTextBox">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="iconSearchFilter"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" id="searchDropDown">
                                    <button class="btn dropdown-item textUsual dropDownButton" id="searchByName">Поиск по файлам</button>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <button class="btn dropdown-item textUsual dropDownButton" id="searchByTags">Поиск по тегам</button>
                                </div>
                            </div>
                        </div>

                    }


                            
            </div>
            <div class="col-md-2 col-md-offset-1" id="defaultLogo">logo</div>
            <div class="col-md-5">@Html.Partial("_LoginPartial")</div>
        </div>
    </div>
</div>
<div class="secondHeaderBlock">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="userRoutes">@Html.ActionLink("Мои файлы","UserFiles","Home",new {folderID = string.Empty},null) @RenderSection("userRoutes", required: false) </div>
           
            <div class="col-md-6">
                <div class="btn col-md-4 textUsual userSettings"  data-toggle="modal" data-target="#accessesFolderModal">
                    Настройки доступа
                </div>
                <div class="col-md-4 userSettings">
                    <button type="button" id="mainDropDownButton" class="btn dropdown-toggle textUsual" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        По дате создания <span id="iconSortFilter"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="btn dropdown-item textUsual dropDownButton" id="sortByCreationDate" onclick="SortByCreationDate()">По дате создания</button>
                        <div role="separator" class="dropdown-divider"></div>
                        <button class="btn dropdown-item textUsual dropDownButton" id="sortByUploadDate" onclick="SortByUploadDate()">По дате добавления</button>
                        <div role="separator" class="dropdown-divider"></div>
                        <button class="btn dropdown-item textUsual dropDownButton" id="sortBySize" onclick="SortBySize()">По размеру</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn buttonList"></div>
                    <div class="btn buttonTile"></div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="modal fade " id="accessesFolderModal" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content col-md-8 col-md-offset-2 accsseseContainer accsseseCastomPad accsseseContainerCastomPad">
                <div class="modal-header col-md-12 accssese-titleCast">
                    Настройки доступа
                </div>
                <div class="modal-body col-md-12 accsseseCastomPad ">
                    <div class="col-md-12 accssese-userCast">
                        Пользователи
                    </div>
                    <div class="col-md-12 accsseseBady accssese-paddCast">
                        <div class="col-md-7 accsseseBady accssese-userInputCast">
                            <input type="text" class="form-control accssese-textAreaCast" maxlength="200">
                        </div>
                        <div class="col-md-5 accssesecastomPadBot ">
                            <div class="btn btn-primary accssese-btn-primary">
                                Добавить
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-md-12 accsseseCastomPad accssese-urlTopCast">
                    <div class="col-md-7 accssese-urlCast">
                        Доступ по ссылке
                    </div>
                    <div class="col-md-5 accssesecastomPadBot ">
                        <div class="btn btn-primary accssese-btn-primary">
                            Включить
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


@*<header id="HomeHeader">
    <div id="topContainer" class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="custom-search">
                    <button><i></i></button>
                    <input type="text" placeholder="Поиск файлов">
                    <div id="dropdown">↓</div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-1 text-center" id="logo">
                logo
            </div>
            <div id="loginSectionBlock">
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <hr>
    <div id="secondContainer" class="container">
        <div class="row">
            <div id="UserRouteFolder" class="col-md-6 ">Мои файлы</div>
            <div class="col-md-6 ">
                <div id="ViewOption" class="col-md-5 ">Настройки доступа</div>
                <div id="ViewOption" class="col-md-4 ">По дате создания ↓</div>
                <div id="ViewOption" class="col-md-3 ">
                    <div class="btn btn-info">1</div>
                    <div class="btn btn-info">2</div>
                </div>
            </div>
        </div>
    </div>
    <hr id="shadowHr">
</header>*@
    
@RenderBody()

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required:false)

    <script type="text/javascript">

        $("#mainDropDownButton").click(function () {
            $(this).toggleClass("active");
        });

        $(".FileSystemListItem").dblclick(function () {
            //alert("hello");

        });
        $(".FileSystemListItem").click(function () {
            //alert("hello");
            $(this).find("#iconFolder").toggleClass("folderActive");
            $("downloadHiddenButton").toggle();
        });
        $(".buttonList").click(function() {
            document.cookie = "viewType=List" + "; " + "domain=;path=/";
            location.reload();
        })
        $(".buttonTile").click(function () {
            document.cookie = "viewType=BlockView" + "; " + "domain=;path=/";
            location.reload();
        })


        $("#searchByName").click(function () {
            document.cookie = "searchType=SearchByName" + "; " + "domain=;path=/";
        })
        $("#searchByTags").click(function () {
            document.cookie = "searchType=SearchByTag" + "; " + "domain=;path=/";
        })
        
        function SortBySize() {
            debugger;
            $(this);

            $.ajax({
            url: '@Url.Action("SortFiles", "Home")',
                type: 'POST',
                dataType: 'json',
                traditional: true,

                data: {
                    fileSystemsId: $(this).id
                },
            });
        }

    </script>


</body>
</html>
